

/* General Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

.container {
    padding: 10px 10%;
}

h1, h2, h3, p {
    margin: 10px 0;
}

/* Header Section */
#header {
    width: 100%;
    height: 100vh;
    background-image: url('images/Portfolio.jpeg');
    background-position: center;
    background-size: cover;
    transition: background-size 0.2s ease-in-out;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 240px;
    margin-right: 80px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #1e2729;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff004f;
}

.header-text p {
    font-size: 50px;
    color: #e90e0e;
    font-family: serif;
    font-style: italic;
}

/* About Section */
#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: width 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* Services Section */
#services {
    padding: 80px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    text-align: center;
}

.services-list i {
    font-size: 50px;
    color: #ff004f;
    margin-bottom: 10px;
}

.services-list h2 {
    font-size: 24px;
    margin: 10px 0;
}

.services-list p {
    font-size: 16px;
    color: #ababab;
}

.services-list a {
    text-decoration: none;
    color: #ff004f;
    font-weight: 500;
    display: block;
    margin-top: 10px;
}

/* Projects Section */
#projects {
    padding: 80px 0;
}

.projects-list {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 40px;
    margin-top: 50px;
    
}

.project-item  {
    background: #0b0b0be8;
    padding: 20px;
    border-radius: 10px;
    
}

.project-item h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.project-item p {
    font-size: 16px;
    color: #ababab;
    margin-bottom: 10px;
}

.project-item a.git-link {
    display: inline-block;
    background-color: transparent; /* Transparent background */
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project-item a.git-link:hover {
    background-color: transparent; /* Transparent background on hover */
}


/* Contact Section */
#contact {
    padding: 80px 0;
    color: #ababab;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.contact-info a:hover {
    color: #ff004f;
}

/* Large Download Button */
.resume-download {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.resume-download-btn {
    display: inline-block;
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    position: relative; /* Add relative positioning */
    overflow: hidden; /* Hide overflowing content */
}

.resume-download-btn::before {
    content: ''; /* Create a pseudo-element */
    position: absolute;
    top: -50%; /* Initial position */
    left: -50%;
    width: 200%; /* Extend beyond the button */
    height: 200%;
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    border-radius: 50%; /* Circular shape */
    animation: sparkle 1.5s linear infinite; /* Sparkle animation */
    opacity: 0; /* Start with no opacity */
    pointer-events: none; /* Prevent the pseudo-element from being interacted with */
}

.resume-download-btn:hover::before {
    animation-play-state: running; /* Start animation on hover */
    opacity: 1; /* Show the sparkle effect on hover */
}

@keyframes sparkle {
    0% {
        transform: translate(-50%, -50%) rotate(0deg); /* Initial position and rotation */
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg); /* Rotate a full circle */
        opacity: 0; /* Fade out at the end */
    }
}

/* Social Links */
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-links a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
}

.social-links a:hover {
    color: #ff004f;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .header-text h1 {
        font-size: 40px;
    }

    .header-text p {
        font-size: 30px;
    }

    .sub-title {
        font-size: 40px;
    }

    .tab-links {
        margin-right: 20px;
        font-size: 16px;
    }

    .project-item {
        padding: 15px;
    }

    .project-item h2 {
        font-size: 20px;
    }

    .resume-download-btn {
        padding: 15px 30px;
        font-size: 20px;
    }

    .social-links a {
        font-size: 20px;
    }
}/* Footer Styles */
/* Footer Styles */
/* Footer Styles */
footer {
    background-color: #333; /* Fallback color */
    background-image: linear-gradient(135deg, 
                        #0000ff, 
                        #ff00ff, 
                        #ffff00, 
                        #00ff00, 
                        #00ffff, 
                        #0000ff);
    background-size: 1000% 1000%; /* Size of the gradient */
    color: #fff;
    padding: 30px 0;
    animation: lightning 10s ease infinite; /* Animation for lightning effect */
}

@keyframes lightning {
    0% { background-position: 0% 50%; } /* Start position of the gradient */
    100% { background-position: 100% 50%; } /* End position of the gradient */
}

.container {
    width: 80%;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 100px; /* Adjust the width of your logo */
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer-links ul li:last-child {
    margin-right: 0;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: #ff004f;
}


/* View Count Styles */
.view-count {
    font-size: 16px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: linear-gradient(to right, #ff004f, #ffcc00); /* Gradient effect */
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

.view-count span {
    font-weight: bold;
    margin-left: 5px;
}
/* Example styling for the buttons */
#pageUpButton,
#pageDownButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pageDownButton {
    bottom: 690px; /* Adjust position if needed */
}
